module.exports = {
    // data pembayaran
    payment: {
        unes_midtrans: {
            type: "midtrans",
            key: {
                merchant_id: "G623587550",
                client_key: "SB-Mid-client-3rFh6B9FH-Ih1OBs",
                server_key: "SB-Mid-server-8XLtJrWzB6vw9p_E0hNN9jzD"
            }
        }
    },
    email_sender: {

    }
}